body {
	margin: 40px 40px 0px 40px;
	background-color: #f6f2f1;
	font-family: arial;
}

img {
	width: 30%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid black;
	padding: 8px;
}

th {
	background-color: #dddddd;
}

.bg {
	background-color: gold;
}

.boton {
	border: 0;
	background-color: green;
	color: white;
	padding: 10px;
	cursor: pointer;
}

#footer {
	background-color: #c5e7bc;
	color: green;
	text-align: center;
	padding: 10px;
}